.App {
  text-align: center;
  text-decoration: underline;
  font-family:url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Koulen&family=Macondo&family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300&display=swap');
  font-display: bold;
}

body{
  background: url('https://upload.wikimedia.org/wikipedia/commons/f/f7/World_Map_%28political%29.svg') ;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
